extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'login'
  - var description = 'login'

//--------------------------------------------------//

block head
  +style('login')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  //- +script('login')

//--------------------------------------------------//

block content
  +b.login.wrapper
    +e.container
      +e.desc
        +e.H1.title Добро пожаловать на платформу Ecircuit
        +e.P.text Войдите в свой аккаунт
        +e.social
          +e.A.social-link(href='#')
            |<svg class="login__social-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 23"><path d="M10 20.6h3.3v-8h2.9l.4-3.2h-3.3v-2c0-.9.3-1.5 1.7-1.5h1.8V3.1L14.2 3C11.7 3 9.9 4.4 9.9 7v2.3H7.1v3.2h2.8v8z"/></svg>
          +e.A.social-link(href='#')
            |<svg class="login__social-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 23"><path fill-rule="evenodd" d="M21.307 14.324s1.887 1.762 2.353 2.577c.01.012.017.025.021.038.19.302.237.538.144.712-.158.288-.69.432-.872.445H19.62c-.232 0-.715-.058-1.303-.442-.45-.296-.896-.785-1.33-1.263-.646-.709-1.204-1.324-1.77-1.324a.673.673 0 00-.21.033c-.428.128-.972.705-.972 2.241 0 .48-.401.755-.683.755h-1.527c-.52 0-3.23-.173-5.631-2.567C3.249 12.597.605 6.715.58 6.664c-.165-.38.18-.588.554-.588H4.5c.451 0 .598.258.701.49.12.265.56 1.329 1.283 2.523 1.172 1.944 1.892 2.735 2.467 2.735a.642.642 0 00.308-.078c.751-.39.611-2.927.576-3.45 0-.101 0-1.133-.386-1.631-.275-.358-.744-.497-1.028-.547.076-.104.237-.263.444-.357.514-.242 1.444-.278 2.367-.278h.512c1.001.014 1.26.074 1.624.161.733.166.747.615.683 2.144-.02.436-.039.928-.039 1.507 0 .124-.006.262-.006.402-.022.784-.051 1.668.534 2.03a.5.5 0 00.254.07c.203 0 .81 0 2.46-2.676.722-1.181 1.282-2.574 1.32-2.68.034-.058.132-.222.25-.288a.585.585 0 01.276-.062h3.96c.433 0 .725.062.783.216.095.25-.02 1.015-1.828 3.327-.304.385-.571.718-.806 1.01-1.639 2.033-1.639 2.136.097 3.68z"/></svg>
   
      +b.FORM.form
        +e.container
          +e.header
            +e.P.title Вход
            +e.P.text У Вас еще нет аккаунта? 
              a(href='#') Зарегистрируйтесь!
          +e.LABEL.label
            +e.SPAN.label-title Введите Ваш e-mail
            +e.INPUT.input(type='email' name='email' placeholder='example@ecircuit.co' required)
          +e.LABEL.label
            +e.SPAN.label-title Введите свой пароль
            +e.INPUT.input(type='password' name='password' placeholder='******' required)
              .show-password
                |<svg class="show-password__show show-password__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12"><path fill="#6A6A6A" d="M15.2 5.64C13.64 2.33 11.27.66 8.08.66 4.87.66 2.5 2.33.92 5.64a1 1 0 000 .86c1.58 3.31 3.96 4.98 7.15 4.98 3.19 0 5.56-1.67 7.14-4.98a1 1 0 000-.86zM8.08 10.3c-2.68 0-4.64-1.36-6.03-4.22C3.43 3.2 5.4 1.85 8.07 1.85c2.67 0 4.63 1.36 6.02 4.22-1.38 2.86-3.34 4.22-6.02 4.22zM8 3.15a2.92 2.92 0 100 5.84 2.92 2.92 0 000-5.84zm0 4.78A1.86 1.86 0 118 4.2a1.86 1.86 0 010 3.72z"/></svg>
                |<svg class="show-password__hide show-password__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 14"><path fill="#6A6A6A" d="M14.98 6.64a10.19 10.19 0 00-2.09-3l-.84.84a8.88 8.88 0 011.8 2.59c-1.37 2.86-3.33 4.22-6.01 4.22-.8 0-1.55-.13-2.23-.38l-.91.92a7.4 7.4 0 003.14.65c3.19 0 5.57-1.66 7.14-4.98a1 1 0 000-.86zm-1.06-5.32l-.7-.71a.13.13 0 00-.15-.03.13.13 0 00-.04.03L11.2 2.42c-1-.5-2.12-.76-3.37-.76-3.2 0-5.58 1.66-7.15 4.98a1 1 0 000 .86 9.97 9.97 0 002.27 3.17L1.2 12.43a.13.13 0 000 .19l.71.7a.13.13 0 00.19 0L13.92 1.52a.13.13 0 00.03-.15.13.13 0 00-.03-.04zM1.82 7.07C3.2 4.2 5.15 2.85 7.83 2.85c.9 0 1.72.16 2.47.47L9.14 4.5A2.92 2.92 0 005.2 8.44L3.81 9.83a8.62 8.62 0 01-2-2.76zm4.09 0A1.86 1.86 0 018.34 5.3L6 7.64a1.86 1.86 0 01-.09-.57z"/><path fill="#6A6A6A" d="M7.77 8.93l-.17-.01-.88.88a2.92 2.92 0 003.78-3.78l-.88.88a1.86 1.86 0 01-1.85 2.03z"/></svg>
          +e.buttons
            +e.BUTTON.btn.btn
              span.btn__text Вход
            a(href="#") Забыли пароль?



