mixin list(title,...items)
  +e.list
    +e.P.list-title!=title
    +e.UL.items
      each item in items
        +e.LI.list-item
          +e.A.list-link(href='#')!=item

mixin footer()
  +b.FOOTER.footer.wrapper
    +e.top
      +e.title
        +e.IMG.logo(src='img/logo.png' alt='')
        p ООО «Есеркет Рус»
        +e.A.link(href='tel:+74994505737') +7 (499) 450-57-37
        +e.A.link(href='mailto:support@ecircuit.co') support@ecircuit.co
      +e.links
        +list('Ecircuit','О платформе','Наш блог','СМИ о нас','Идеи и предложения','Контакты')
        +list('Профиль','Войти','Зарегистрироваться','Восстановить доступ','FAQ')
        +list('Пользователи','Список поставщиков','Открытые тендеры','Платные опции (скоро)')
    +e.bottom
      //- div
      a(href="#") Пользовательское соглашение
      //- +e.wrap
        //- +e.policy
        //-   +e.A.link(href='mailto:support@ecircuit.co') support@ecircuit.co
        //-   +e.A.link(href='#') Политика конфиденциальности
        //- +e.policy
        //-   +e.A.link(href='tel:+74994505737') +7 (499) 450-57-37
        //-   +e.A.link(href='#') Пользовательское соглашение
      +e.social
        +e.A.social-link(href='#')
          |<svg class="footer__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 23"><path d="M10 20.6h3.3v-8h2.9l.4-3.2h-3.3v-2c0-.9.3-1.5 1.7-1.5h1.8V3.1L14.2 3C11.7 3 9.9 4.4 9.9 7v2.3H7.1v3.2h2.8v8z"/></svg>
        +e.A.social-link(href='#')
          |<svg class="footer__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 23"><path fill-rule="evenodd" d="M21.307 14.324s1.887 1.762 2.353 2.577c.01.012.017.025.021.038.19.302.237.538.144.712-.158.288-.69.432-.872.445H19.62c-.232 0-.715-.058-1.303-.442-.45-.296-.896-.785-1.33-1.263-.646-.709-1.204-1.324-1.77-1.324a.673.673 0 00-.21.033c-.428.128-.972.705-.972 2.241 0 .48-.401.755-.683.755h-1.527c-.52 0-3.23-.173-5.631-2.567C3.249 12.597.605 6.715.58 6.664c-.165-.38.18-.588.554-.588H4.5c.451 0 .598.258.701.49.12.265.56 1.329 1.283 2.523 1.172 1.944 1.892 2.735 2.467 2.735a.642.642 0 00.308-.078c.751-.39.611-2.927.576-3.45 0-.101 0-1.133-.386-1.631-.275-.358-.744-.497-1.028-.547.076-.104.237-.263.444-.357.514-.242 1.444-.278 2.367-.278h.512c1.001.014 1.26.074 1.624.161.733.166.747.615.683 2.144-.02.436-.039.928-.039 1.507 0 .124-.006.262-.006.402-.022.784-.051 1.668.534 2.03a.5.5 0 00.254.07c.203 0 .81 0 2.46-2.676.722-1.181 1.282-2.574 1.32-2.68.034-.058.132-.222.25-.288a.585.585 0 01.276-.062h3.96c.433 0 .725.062.783.216.095.25-.02 1.015-1.828 3.327-.304.385-.571.718-.806 1.01-1.639 2.033-1.639 2.136.097 3.68z"/></svg>


