mixin header()
  +b.HEADER.header.wrapper
    +b.BUTTON.burger
      +e.SPAN.icon
    a(href="/")
      +e.IMG.logo(src='img/logo.png' alt='')
    +menu([
      { href: 'about.html', text: 'О платформе' },
      { href: 'media.html', text: 'СМИ о нас' },
      { href: '#', text: 'Тендеры' },
      { href: '#', text: 'Поставщики' },
      { href: 'news.html', text: 'Наш блог' },
      { href: 'contacts.html', text: 'Контакты' },
    ])
    +e.buttons
      +e.A.login(href='login.html')
        span Вход
        +e.SVG.login-icon(xmlns="http://www.w3.org/2000/svg" fill="none" width='12' height='13' viewBox="0 0 12 13")
          path(stroke="#4BDD8E" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7.62 1.97h2.2a1.1 1.1 0 011.1 1.1v7.72a1.1 1.1 0 01-1.1 1.1h-2.2M4.87 9.69l2.75-2.76-2.75-2.76M7.62 6.93h-6.6")
      +e.A.signup.btn(href='registration.html')
        span.btn__text Регистрация
