extends ../../layout/page

//--------------------------------------------------//

block vars
  - var title = 'faq'
  - var description = 'faq'
  - var pageId = 'faqPage'

//--------------------------------------------------//

block head
  +style('faq')

block startBody
  +header()
 
block endBody
  +footer()
  +script('main')
  //- +script('faq')

//--------------------------------------------------//

mixin faq__icon()
  |<svg class="faq__icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 10"><defs/><path fill="#C4C4C4" d="M16 .5a.7.7 0 011.1.2.7.7 0 01-.1.8L9 9.3a.7.7 0 01-.9 0L.2 1.5a.7.7 0 010-1 .7.7 0 011 0l7.4 7.1L16 .5z"/></svg>

mixin faq(title,text)
  +b.faq.accardionJs
    +e.P.title!=title
    +e.text.accardionContentJs!=text
    +faq__icon

block content
  +b.main.wrapper
    +e.title
      h1.page-title Как мы можем Вам помочь?
      +b.FORM.search
        +e.INPUT.input(type='text' name='search' placeholder='Введите свой вопрос')
        +e.BUTTON.btn.btn(type='submit')
          +e.SVG.icon(xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 19 19")
            path(fill="#fff" d="M8.3 14.7a6 6 0 100-12 6 6 0 000 12zm6.3-1.1l3.6 3.5a1 1 0 11-1.4 1.5L13.2 15a8 8 0 111.4-1.4z")
  +b.select.wrapper.tabsWrapJs
    +e.H2.title Или выберите тему, которая Вас интересует
    +e.cards.tabsNavJs
      +e.card Я заказчик
      +e.card Я поставщик
    +e.tabs.tabsJs

      //--------- Заказчик --------//

      +b.faqs.tabsWrapJs
        +e.nav.tabsNavJs
          +e.link.active Профиль
          +e.link Конкурсы
          +e.link Общение с поставщиками
        +e.container.tabsJs

          //--------- профиль --------//

          +e.tab.active

            +b.faq.accardionJs
              +e.P.title С чего начать?
              +e.text.accardionContentJs
                p Вам необходимо начать с регистрации. Просьба учитывать, что регистрацию на платформе могут пройти только юридические лица и ИП, На странице регистрации выбираете подраздел «Заказчик», после чего вводите свой адрес электронной почты, а также создаете новый пароль (минимум 6 символов). После этого, переходите в свой ящик электронной почты и подтверждаете ссылку на регистрацию. Если все выполнено правильно, вас переадресует на станицу личного кабинета платформы Ecircuit.
                p Если по какой либо причине, вы не увидели письмо на электронной почте, проверьте папку «СПАМ», а также продублируйте отправку ссылки еще раз на вашу электронную почту. Если у вас не получилось пройти регистрацию, напишите нам в чат, либо на support@ecircuit.co.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как настроить свой профиль
              +e.text.accardionContentJs
                p После регистрации, вам необходимо перейти в раздел «Профиль» в личном кабинете. На данной странице необходимо заполнить обязательные поля (помечены звездочкой), после чего нажать на кнопку «Отправить на модерацию» в конце страницы. Просьба учитывать, что для создания конкурсов на платформе необходимо пройти верификацию профиля.
                p Страница профиля состоит из 3х блоков:
                ul
                  li Личный профиль (Имя, Фамилия, Пол, Телефон, Email, Должность)
                  li Профиль компании (Информация о компании, Веб-сайт, Email, Телефон, Страна, Город, Профили соц.сетей)
                  li Верификация компании (Название компании, Адрес, ИНН, ОГРН, Директор). В поле «Организация или ИП» введите название компании, либо ИНН и выберете из выпадающего списка вашу организацию. Все остальные поля заполнятся автоматически.
                p Модерация осуществляется в течение 3 часов в будние дни с 9:00 до 19:00. После модерации, вы получите соответствующее уведомление в тулбар, а также на электронную почту. В случае одобрения профиля, вы получите доступ к полному функционалу и сможете создавать неограниченное количество конкурсов на платформе.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Основные разделы личного кабинета
              +e.text.accardionContentJs
                p После регистрации, Вы попадает в личный кабинет на рабочий стол. На рабочем столе с левой стороны расположено основное меню платформы Ecircuit. Давайте пройдемся по пунктам меню:
                ul
                  li Сообщения: здесь будет отображаться вся переписка между пользователями
                  li Создать конкурс: здесь создаются все новые конкурсы по Вашим проектам
                  li Активные конкурсы: здесь расположены конкурсы, которые Вы создали на платформе. В данный раздел будут поступать все коммерческие предложения от поставщиков
                  li Профиль: здесь расположена вся информация по личному профилю, а также профилю компании
                  li Настройки: здесь можно сменить пароль на новый, а также настроить уведомления на почту и тулбар

              +faq__icon

          //--------- Конкурсы --------//

          +e.tab

            +b.faq.accardionJs
              +e.P.title Как создать новый конкурс
              +e.text.accardionContentJs
                p Вам нужно создать новый конкурс. После этого её проверят модераторы. Если конкурс заполнен корректно, он появится на платформе и отобразится в вашем личном кабинете в разделе «Активные Конкурсы». Модерация осуществляется в течение 3 часов в будние дни с 9:00 до 19:00
                p
                  b Что означают статусы конкурсов
                ul
                  li "На модерации" – конкурс проходит проверку на модерацию.
                  li "Отклонен" – конкурс не прошел модерацию. Причину отказа вы увидите в личном кабинете в тулбаре, а также получите уведомление на электронную почту. Конкурс можно отредактировать и отправить вновь на модерацию.
                  li "Отменен" — поставщик отменил свое предложение по конкурсу и выбыл из участия.   
                  li "Удален" — конкурс был удален заказчиком. 
                  li "Сбор предложений" – конкурс появился на платформе, теперь он доступен для поставщиков на странице поиска конкурсов. Уведомление об одобрении конкурса будет отправлено на электронную почту.
                  li "Прием заявок завершен" – закончился срок объявленного конкурса. Такие объявления хранятся в разделе «Активные тендеры».
                  li "Завершен" – закончился срок объявленного конкурса, либо заказчик выбрал победителя конкурса. Такие объявления хранятся в разделе «Завершённые конкурсы».

              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как отредактировать конкурс
              +e.text.accardionContentJs
                p Вы можете изменить информацию о конкурсе. Если конкурс уже опубликован, но вы хотите что-то исправить, нажмите кнопку «Редактировать» в разделе «Активные конкурсы» и вы попадете на страницу редактирования. Если конкурс находится на модерации, либо поступило хотя бы одно предложение от поставщика, то редактирование будет недоступно.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как завершить конкурс
              +e.text.accardionContentJs
                ul
                  li Конкурс завершится автоматически, как только вы выберете победителя.
                  li По истечению указанного организатором срок окончания торгов, конкурс также завершится автоматически.
                  li Вы можете завершить конкурс раньше срока, указанного в заявке. Для этого достаточно нажать кнопку «Удалить» в разделе «Активные конкурсы».
                  li Через месяц после публикации тендеры также автоматически завершаются и переходят в архив.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как выбрать победителя
              +e.text.accardionContentJs
                p Перейдите в раздел «Активные конкурсы» и нажмите на «Предложения». На странице «Выбор поставщика», вы увидите список претендентов по конкурсу. Просто нажмите на кнопку «Принять предложение» на карточке любого поставщика. После этого он становится победителем конкурса, а сами торги завершаются. Победитель, также, как и проигравший получит соответствующее уведомление в тулбар и на электронную почту.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как отклонить предложение поставщика
              +e.text.accardionContentJs
                p Перейдите в раздел «Активные конкурсы» и нажмите на «Предложения». На странице «Выбор поставщика», вы увидите список претендентов по конкурсу. Просто нажмите на кнопку «Отклонить предложение» на карточке любого поставщика. После этого он получит уведомление в тулбар и на электронную почту о проигрыше в конкурсе и больше не сможет принять в нем участие.
              +faq__icon

          //--------- Общение --------//
          +e.tab
          
            +b.faq.accardionJs
              +e.P.title Видят ли поставщики мои контакты?
              +e.text.accardionContentJs
                p Ваши личные контакты скрыты от поставщиков, пока Вы не выберете победителя конкурса. При желании, Вы можете предоставить контакты поставщику через чат внутри личного кабинета. При создании нового конкурса на платформе, данные (название ООО и ИНН) о Вашей организации недоступны, до тех пор, пока поставщик не предоставит коммерческое предложение по проекту.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как оставить отзыв о работе поставщика
              +e.text.accardionContentJs
                p После того, как будет выбран победитель конкурса, в разделе «Отзывы» на рабочем столе появится компания поставщика победителя, а также наименование проекта. Мы рекомендуем оставлять отзыв о поставщике после выполненных проектов. Рейтинг поставщика состоит из следующих факторов:
                ul
                  li Общая оценка поставщику. Состоит из 5 звезд. 1 — очень плохо, 2 — плохо, 3 — средне, 4 — хорошо, 5 — отлично
                  li Сорван ли срок поставки. Укажите, выполнил ли обещание поставщик и выполнил ли проект в срок. 
                  li Есть ли претензии оп качеству. Укажите, довольны ли Вы качеством работ поставщика. Был ли брак в допустимой норме. 
                  li Отзыв о поставщике. Напишите несколько предложение своими словами о поставщика. Понравилось ли Вам с ним работать, порекомендовали ли Вы его другим заказчикам.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как отправить сообщение поставщику
              +e.text.accardionContentJs
                p Отправить сообщение поставщику в чат можно несколькими способами:
                ul
                  li Перейдите в раздел «Активные конкурсы» и нажмите на «Предложения». На странице «Выбор поставщика», Вы увидите кнопку «Написать сообщение». 
                  li На странице «Выбор поставщика», нажмите на название компании поставщика и Вы перейдете в его профиль. С правой стороны, Вы увидите кнопку «Написать сообщение».
                p После того, как Вы напишите первое сообщение поставщику, оно появится в разделе «Сообщения» в меню на рабочем столе. Уведомления о непрочитанных сообщениях будут поступать Вам на электронный ящик. 

              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как удалить свой аккаунт?
              +e.text.accardionContentJs
                p На данный момент удаление аккаунта возможно только через службу поддержки. Напишите на support@ecircuit.co с просьбой удалить Ваш аккаунт с платформы. Необходимо указать email по которому Вы регистрировались на платформе.
              +faq__icon

      //--------- Поставщик --------//

      +b.faqs.tabsWrapJs
        +e.nav.tabsNavJs
          +e.link.active Профиль
          +e.link Конкурсы
          +e.link Общение с заказчиком
        +e.container.tabsJs

          //--------- профиль --------//

          +e.tab.active
          
            +b.faq.accardionJs
              +e.P.title С чего начать?
              +e.text.accardionContentJs
                p Вам необходимо начать с регистрации. Просьба учитывать, что регистрацию на платформе могут пройти только юридические лица и ИП, На странице регистрации выбираете подраздел «Поставщик», после чего вводите свой адрес электронной почты, а также создаете новый пароль (минимум 6 символов). После этого, переходите в свой ящик электронной почты и подтверждаете ссылку на регистрацию. Если все выполнено правильно, вас переадресует на станицу личного кабинета платформы Ecircuit.
                p Если по какой либо причине, вы не увидели письмо на электронной почте, проверьте папку «СПАМ», а также продублируйте отправку ссылки еще раз на вашу электронную почту. Если у вас не получилось пройти регистрацию, напишите нам в чат, либо на support@ecircuit.co.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как настроить свой профиль
              +e.text.accardionContentJs
                p После регистрации, вам необходимо перейти в раздел «Профиль» в личном кабинете. На данной странице необходимо заполнить обязательные поля (помечены звездочкой), после чего нажать на кнопку «Отправить на модерацию» в конце страницы. Просьба учитывать, что для создания конкурсов на платформе необходимо пройти верификацию профиля.
                p Страница профиля состоит из 3х блоков:
                ul
                  li Личный профиль (Имя, Фамилия, Пол, Телефон, Email, Должность)
                  li Профиль компании (Информация о компании, Веб-сайт, Email, Телефон, Ключевые преимущества, Страна, Город, Профили соц.сетей)
                  li Верификация компании (Название компании, Адрес, ИНН, ОГРН, Директор). В поле «Организация или ИП» введите название компании, либо ИНН и выберете из выпадающего списка вашу организацию. Все остальные поля заполнятся автоматически.
                p Модерация осуществляется в течение 3 часов в будние дни с 9:00 до 19:00. После модерации, вы получите соответствующее уведомление в тулбар, а также на электронную почту. В случае одобрения профиля, вы получите доступ к полному функционалу и сможете создавать неограниченное количество конкурсов на платформе.
              +faq__icon
          
            +b.faq.accardionJs
              +e.P.title Основные разделы личного кабинета
              +e.text.accardionContentJs
                p После регистрации, Вы попадает в личный кабинет на рабочий стол. На рабочем столе с левой стороны расположено основное меню платформы Ecircuit. Давайте пройдемся по пунктам меню:
                ul
                  li Сообщения: здесь будет отображаться вся переписка между пользователями
                  li Поиск конкурсов: здесь расположены все конкурсы, которые были созданы заказчиками на платформе 
                  li Активные конкурсы: здесь расположены конкурсы, по которым Вы предоставили коммерческое предложение
                  li Профиль: здесь расположена вся информация по личному профилю, а также профилю компании
                  li Настройки: здесь можно сменить пароль на новый, а также настроить уведомления на почту и тулбар
              +faq__icon
          
          //--------- Конкурсы --------//

          +e.tab
          
            +b.faq.accardionJs
              +e.P.title Как участвовать в конкурсах?
              +e.text.accardionContentJs
                p Участие в тендерах возможно через страницу «Поиск конкурсов». Вы самостоятельно выбираете тендеры, в которых желаете участвовать. Для участия в тендере, необходимо выбрать любой из них и нажать на кнопку «Участвовать.
                p На странице предложений, Вы сможете скачать необходимую документацию для оценки проекта и сделать предложение по цене, срокам и условиям оплаты в соответствующем окне. После этого, заказчик получит уведомление на почту с указанием Ваших условий.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Проходят ли модерацию конкурсы?
              +e.text.accardionContentJs
                p Каждый конкурс проходит несколько этапов модерации. Сначала Заказчик должен подтвердить, что он является юр.лицом и относится к той компании, которую он указал в профиле. Данная проверка происходит с помощью нашего клиентского отдела. После того, как Заказчик создал конкурс на платформе, модератор приступает к ручной проверке.
                p Если в описании есть недочеты, мало информации, либо нет файлов для оценки проекта., такой конкурс отклонятся, модератор просит внести Заказчика недостающую информацию или исправить имеющуюся.
              +faq__icon

            +b.faq.accardionJs
              +e.P.title Как получать уведомления об интересующих конкурсах?
              +e.text.accardionContentJs
                p На платформе разработана система подписки на конкурсы. Для того, чтобы получать оповещения по интересующим Вас конкурсах, переходите на страницу «Поиск конкурсов» Вы можете настроить параметры в фильтре (бюджет, город, тип конкурса), которые Вам интересны. При создании новых конкурсов заказчиком, Вы будете получать соответствующее уведомление на электронный ящик.
              +faq__icon

          //--------- Общение --------//

          +e.tab
            
            +b.faq.accardionJs
              +e.P.title Есть ли у меня рейтинг и на что он влияет?
              +e.text.accardionContentJs
                p Каждый поставщик на платформе имеет свою систему рейтинга и отзывов. После регистрации рейтинг у всех поставщиков составляет 0 из 5 звезд. Чтобы повысить свой рейтинг, необходимо добиваться побед в конкурсах, хорошо выполнять проекты заказчика. После этого у Вас есть хороший шанс получить высокий рейтинг и качественный отзыв о Вашей компании. Все это позволит в дальнейшем выделять Вас среди конкурентов на платформе. После каждого выполненного проекта, попросите заказчика оставить о Вас отзыв.
              +faq__icon
   


      